{{page-title this.model.title}}
<h1>{{ this.model.title }}</h1>
<p><LinkTo @route="classifieds"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Classifieds</LinkTo></p>

<ClassifiedsAd @model={{ this.model }}/>