{{page-title 'MOSAIC'}}
<h1>MOSAIC</h1>

<div class="py-4" style="column-count: auto; column-width: 400px">
    {{#each this.model.classifieds as |ad|}}
    <ClassifiedsAd @model={{ ad }} @linkTitle=true />
    {{/each}}
</div>